<section class="fancySection">
  <h3>Movie: <%= @movie.title %></h3>
  <p>Director: <%= @movie.director %></p>
  <p>Country: <%= @movie.country %></p>
  <p>Run Length: <%= @movie.run_length %></p>
  <p>Release Date: <%= @movie.release_date %></p>
  <p>MPAA Rating: <%= @movie.mpaa_rating %></p>
  <p>Synopsis: <%= @movie.synopsis %></p>
</section>
<a href="/">
<h4>Back To Home</h4>
</a>
